/JavaCursoEmVideo/PrimeiroPrograma/target/
/JavaCursoEmVideo/PrimeiroPrograma/nbproject/private/
/JavaCursoEmVideo/PrimeiroPrograma/build/
/JavaCursoEmVideo/OlaMundoSwing/nbproject/private/
/JavaCursoEmVideo/OlaMundoSwing/build/
/JavaCursoEmVideo/OlaMundoJavaFX/nbproject/private/
/JavaCursoEmVideo/OlaMundoJavaFX/build/
/JavaCursoEmVideo/OlaMundoJavaFX/dist/
/JavaCursoEmVideo/OlaMundoSwing/dist/
/JavaCursoEmVideo/RelogioSwing/nbproject/private/
/JavaCursoEmVideo/RelogioSwing/build/
/JavaCursoEmVideo/TamanhoImagem/nbproject/private/
/JavaCursoEmVideo/TamanhoImagem/build/
/JavaCursoEmVideo/GokuDesign/nbproject/private/
/JavaCursoEmVideo/GokuTwoDesign/nbproject/private/
/JavaCursoEmVideo/GokuTwoDesign/build/
/JavaCursoEmVideo/ClickAqui/nbproject/private/
/JavaCursoEmVideo/ClickAqui/build/
/JavaCursoEmVideo/TiposPrimitivos/nbproject/private/
/JavaCursoEmVideo/TiposPrimitivos/build/
/JavaCursoEmVideo/TiposPrimitivo/nbproject/private/
/JavaCursoEmVideo/TiposPrimitivo/build/
/JavaCursoEmVideo/TesteTipos/nbproject/private/
/JavaCursoEmVideo/TesteTipos/build/
/JavaCursoEmVideo/SomaSwing/nbproject/private/
/JavaCursoEmVideo/SomaSwing/build/
/JavaCursoEmVideo/calculadorIdade/nbproject/private/
/JavaCursoEmVideo/calculadorIdade/build/
/JavaCursoEmVideo/OperadoresAritmeticos/target/
